.unshrinkable-max-height {
  max-height: 85vh;
  flex-shrink: 0;
}

#editor-col {
  @extend .unshrinkable-max-height;
  textarea {
    resize: none;
  }
}

#preview-col {
  @extend .unshrinkable-max-height;
  overflow-y: auto;
  div {
    overflow-y: auto;
  }
}
